@import "var/colors.scss";

header {
   background-color: lighten($color-background, 10%);
   padding: 0 1em;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   a {
      display: flex;
      height: 2em;
      padding: .5em;
      align-items: center;

      &:hover {
         background-color: lighten($color-background, 20%);
         color: #fff;
      }

      img {
         margin-right: 5px;
      }
   }
}
