.matches {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.match {
   background-color: #2e3238;
   display: flex;
   flex-direction: column;
   min-width: 900px;
   width: calc(50% - 2em);
   margin: 1em;

   .head {
      padding: 10px;
   }

   .body {
      background-color: #23252b;
   }

   .team-logo {
      margin: 0 .5em;
   }

   .wager {
      padding: .6em 1em;
      display: flex;
      align-items: center;

      &:nth-child(even) {
         background: #2e3238;
      }

      &.highlight:nth-child(even) {
         background: #38352e;
      }

      &.highlight {
         background: #2b2823;
      }

      .name {
         width: 20em;
      }

      .odd {
         margin: 0 .5em;
         width: 3em;
      }

      .handicap {
         width: 3em;
      }
   }
}

.category {
   flex-grow: 1;
}
