<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="RussianBee" value="http://build.russianbee.de/guestAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>