.match {
   background-color: #2e3238;
   display: flex;
   flex-direction: column;
   margin: 1em;

   .head {
      padding: 10px;
   }

   .body {
      background-color: #23252b;
      padding: 10px;
   }
}

.category {
   flex-grow: 1;
}
